@import "mixins";

body {
  font-family: $serif;
  font-size: $small;
  line-height: $medium;
}

.nosend{
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  padding-left: 300px;
  background: rgba(165, 165, 165, .5);
  justify-content: center;
  align-items: center;
  z-index: 850;
  & .hide {
    display: none;
  }
}

.noresults {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  padding-left: 300px;
  background: rgba(165, 165, 165, .5);
  justify-content: center;
  align-items: center;
  z-index: 850;
  & .hide {
    display: none;
  }
}

.results_message {
  background-color: $light-gray;
  font-family: $sans-serif;
  color: $gray;
  z-index: 851;
  height: 150px;
  width: 350px;
  box-shadow: 0px 2px 10px grey;
  & h3 {
    color: $red;
  }
}

.results_close {
  width: 25px;
  height: 25px;
  color: $gray;
  display: block;
  float: right;
  &:hover {
    color: $red;
  }
}

.loader {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
}

.visually-hidden .hide {
  display: none
}
