$danger: #d5203f;
$secondary: #7f6000;
$warning: #BF4C0F;
$info: #5F0321;

.btn-danger {
  color: #fff !important;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/react-leaflet-markercluster/dist/styles.min.css";

//THEME COLORS
$white: #ffffff;
$light-gray: #f1f1f1;
$mid-gray: #a5a5a5;
$gray: #666666;
$dark-gray: #444444;
$black: #202020;
$red: #d5203f;
$light-orange: #EE702D;
$orange: #BF4C0F;
$light-pink: #E94F8A;
$pink: #E94F8A;
$dark-pink: #5F0321;
$yellow: #efc65d;



//FONT SIZES
$xx-small: 0.65rem;
$x-small: 0.75rem;
$small: 1rem;
$medium: 1.25rem;
$large: 1.5rem;
$x-large: 2rem;

//LOGO
$en-logo: url("../../Assets/logos/logo_en.png");
$en-logo-white: url("../../Assets/logos/logo_en_white.png");
$chcd-icon: url("../../Assets/icons/chcd.png");
$chcd-icon-white: url("../../Assets/icons/chcd-white.png");

//FONTS
$sans-serif: 'Lato', sans-serif;
$serif: 'Arvo', serif;
$header: 'Baloo Tamma 2', sans-serif;
