@import "mixins";

.link-icons{
  float: left;
  height: 1.5em;
  width:1.5em;
  color: $mid-gray;
  margin: 0em 0.5em;
  transform: translateY(0.25em);
  &:hover {
    color: $gray;
  }
}

.link-icons2{
  float: left;
  height: 1.5em;
  width:1.5em;
  color: $mid-gray;
  margin: 0em 0.5em;
  transform: translateY(0.25em);
  &:hover {
    color: $white;
  }
}

.download-icons{
  float: left;
  color: $mid-gray;
  transform: translateY(0.25em);
  &:hover {
    color: $gray;
  }
}

._1Pz2d {
  border: 0px;
  width: 0px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.top-popupcontainer {
  display: block;
  background: #e1e1e1;
  overflow: hidden;
  color: $gray;
  position: relative;
  left: 340px;
  top: 20px;
  z-index: 1001;
  height: 45px;
  width: calc(100% - 360px);
  &.hide {
    display:none !important;
  }
}

.popupcontainer {
  background-color: $light-gray;
  font-size: .85rem;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  color: $gray;
  position: relative;
  left: 340px;
  top: 20px;
  z-index: 1000;
  height: calc(100vh - 160px);
  width: calc(100% - 360px);
  box-shadow: 0px 2px 10px grey;
  &.hide {
    display:none !important;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 10px 10px $light-gray;
    border: solid 4px transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    box-shadow: inset 0 0 10px 10px $mid-gray;
    border: solid 4px transparent;
  }
}

.popupbody {
  display: block;
  height: 100%;
  width: 100%;
  padding:20px;
}

.popup_close {
  width: 25px;
  height: 25px;
  color: $gray;
  display: block;
  position: relative;
  float: right;
  &:hover {
    color: $red;
  }
}

.popup_card_header {
    font-family: $header;
    text-transform: uppercase;
    font-size: $x-small;
    font-weight: bold;
    line-height: 1rem;
    &.sources {
      font-size: $xx-small;
      line-height: .5rem;
    }
}

.card_sources {
  font-size: $xx-small;
  line-height: .5rem;
  color: $black !important;
}

.popup_section_head {
  color: $red;
  font-size: $large !important;
}
.popup_title {
  color: $dark-pink;
  font-family: $header;
  font-size: $x-large;
  font-weight: bold;
  clear: none;
  width: auto;
  float: left;
}

.addinfo {
  display: block;
  &.hide {
    display:none !important;
  }
}

.addpers{
  display: block;
}

.addinst {
  display: block;
}

.addcorp {
  display: block;
}

.addevent {
  display: block;
}

.hide {
  display: none !important;
}

.breadcrumb_link {
  color: $red;
  &:hover {
    color: $dark-pink;
    cursor: pointer;
  }
}
.breadcrumb {
  font-size: $x-small;
  height: 1em;
}

.top-popupcontainer-full {
  display: block;
  background: #e1e1e1;
  overflow: hidden;
  color: $gray;
  position: relative;
  left: 30px;
  top: 20px;
  z-index: 1001;
  height: 45px;
  width: calc(100% - 50px);
  &.hide {
    display:none !important;
  }
}

.popupcontainer-full {
  background-color: $light-gray;
  display: block;
  overflow: auto;
  color: $gray;
  position: relative;
  left: 30px;
  top: 20px;
  z-index: 1000;
  height: calc(100vh - 155px);
  width: calc(100% - 50px);
  box-shadow: 0px 2px 10px grey;
  &.hide {
    display: none !important;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 10px 10px $light-gray;
    border: solid 4px transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    box-shadow: inset 0 0 10px 10px $mid-gray;
    border: solid 4px transparent;
  }
}

.popupcontainer-full2 {
  background-color: $light-gray;
  display: block;
  overflow: auto;
  color: $gray;
  position: absolute;
  left: .75em;
  top: 20px;
  z-index: 1000;
  height: calc(100vh - 145px);
  width: calc(100% - 1.5em);
  box-shadow: 0px 2px 10px grey;
  top: 135px;
  &.hide {
    display: none !important;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 10px 10px $light-gray;
    border: solid 4px transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    box-shadow: inset 0 0 10px 10px $mid-gray;
    border: solid 4px transparent;
  }
}

.top-popupcontainer-full2 {
  display: block;
  background: #e1e1e1;
  overflow: hidden;
  color: $gray;
  position: absolute;
  left: .75em;
  top: 90px;
  z-index: 1001;
  height: 45px;
  width: calc(100% - 1.5em);
  &.hide {
    display:none !important;
  }
}

.MuiButton-textPrimary {
  color: $danger !important;
  &:hover {
    background-color: rgba(181, 63, 69, 0.04) !important;
  }
}

.MuiButton-root {
  background-color: $mid-gray;
}

.MuiDialogContentText-root {
  word-wrap: break-word !important;
}

@include media-breakpoint-down(lg) {
  .popupcontainer {
    left: 30px;
    top: 20px;
    z-index: 1000;
    height: calc(100vh - 155px);
    width: calc(100% - 44px);
    box-shadow: 0px 2px 10px grey;
    &.hide {
      display: none !important;
    }
  }
  .popupcontainer-full {
    left: 30px;
    top: 20px;
    z-index: 1000;
    height: calc(100vh - 155px);
    width: calc(100% - 44px);
    box-shadow: 0px 2px 10px grey;
    &.hide {
      display: none !important;
    }
  }

  .top-popupcontainer-full {
    left: 30px;
    width: calc(100% - 44px);
  }

  .top-popupcontainer {
    left: 30px;
    width: calc(100% - 44px);
  }
}
